.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #222;
}

.list{
    display: flex;
    list-style: none;
    /* align-items: center; */
    height: 100%;
    /* border: 1px solid blue; */
    gap: 1em;
}

.item{
    /* margin-right: 1em; */
    /* border: 1px solid red; */
    height: 100%;
}

.item a{
    /* border: 1px solid green; */
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    height: 100%;
    border-bottom: 3px solid transparent;
}

.item a:hover{
    color: #FFbb33;
    border-bottom: 3px solid #ffbb33;
}

.logo{
    margin-left: 5px;
    height: 60px;
}

.logo:hover{
    margin-left: 0;
    height: 70px;
}